* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}
* {
    font-family: 'Roboto';
}



.container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3.5fr;
    grid-template-rows: 180px 1fr;
}

header {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: minmax(300px, 3fr) minmax(250px, 2fr);
    grid-template-rows: auto auto;
    padding-bottom: 1rem;
}

aside {
    background-color: #0ea5e9;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 3rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

main {
    background-color: rgb(169, 221, 71);
}

aside a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0.5rem;
    margin: 0;
}

li {
    padding-bottom: 1.5rem;
}

li:nth-last-child(1){
    padding: 0;
}

li svg {
    height: 1rem;
    width: 1rem;
}

li svg path,
.logo svg path {
    fill: #FFFFFF;
}

.logo svg {
    height: 2.5rem;
    width: 2.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

header form,
.account {
    padding: 2rem 1rem 2rem 2.75rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 1.25rem;
}

.account {
    gap: 1rem;
    justify-content: end;
}

#search {
    height: 1.25rem;
    background-color: #e5e5e5;
    border-style: none;
    border-radius: 0.625rem;
    flex-grow: 1;
}

header form button svg{
    height: 1rem;
    width: 1rem;
}

header form button path{
    fill: #000000;
}

header form button {
    background: none;
    border-style: none;
}

.account svg{
    height: 1rem;
    width: 1rem;
}

.account img {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border-style: none;
}

.user_name {
    font-weight: 900;
}

.greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem 1rem;
    align-items: center;
}

.greeting img{
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    border-style: none;
    grid-row: 1 / 3;
    margin-left: 2.75rem;
}

.greeting .user_name {
    align-self: start;
}

.greeting .greeting_text {
    align-self: end;
}

.buttons button {
    color: #FFFFFF;
    background-color: #0ea5e9;
    padding: 0.33rem 1rem;
    min-width: 80px;
    border-style: none;
    border-radius: 1rem;
    font-weight: 700;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 0 1rem 0 2.75rem;
}

h1 {
    font-weight: 900;
    font-size: 1rem;
    grid-column: 1 / -1;
}

h2 {
    font-weight: 900;
    font-size: 0.875rem;
}

.project-desc {
    font-size: 0.75rem;
    color: #636363;
}

.activities svg {
    height: 1.25rem;
    width: 1.25rem;
}

.activities svg path {
    fill: #333333;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
}
